@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-direction: column;
}
#logo{
        width: 22%;          /* Width of the logo */
        height: 10%;         /* Height of the logo */
        background-color: #264de4; /* CSS blue color */
        border-radius: 50%;    /* Makes the div circular */
        display: flex;         /* Centers content */
        justify-content: center; /* Centers horizontally */
        align-items: center;   /* Centers vertically */
        font-size: 24px;      /* Font size of the text */
        color: white;         /* Text color */
        font-weight: bold;    /* Text weight */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
    }
    
h1{
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
}
#name{
    color:rgb(212, 43, 122);
    font-size: 45px;
}
#va{
    color:rgb(43, 206, 212);
    font-size: 45px; 
}
#voice{
    width: 100px;
    display: none;
   
}
#btn{
width: 30%;
background: linear-gradient(to right,rgb(21, 145, 207),rgb(201, 41, 116));
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
font-size: 20px;
border-radius: 20px;
color: white;
box-shadow: 2px 2px 10px rgb(21, 145, 207),2px 2px 10px rgb(201, 41, 116);
border: none;
transition: all 0.5s;
cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 20px rgb(21, 145, 207),2px 2px 20px rgb(201, 41, 116);
    letter-spacing: 2px;
}
